/*body {*/
/*    margin: 0;*/
/*    background: #111;*/
/*    color: #0f0;*/
/*    font-family: monospace;*/
/*}*/

/*#topbar {*/
/*    padding: 6px;*/
/*    background: #000;*/
/*    border-bottom: 1px solid #333;*/
/*}*/

/*canvas {*/
/*    display: block;*/
/*}*/

/*#controls {*/
/*    padding: 6px;*/
/*    background: #111;*/
/*    border-bottom: 1px solid #333;*/
/*}*/

body {
    margin: 0;
    font-family: monospace;
    background: #111;
    color: #0f0;
}

#controls {
    padding: 6px;
    background: #000;
    border-bottom: 1px solid #333;
}

canvas {
    display: block;
}